#!/bin/bash
OPENCODE_SERVER_USERNAME=opencode
OPENCODE_SERVER_PASSWORD=
OPENCODE_VERSION=1.18.9
OPENCODE_WORKSPACE=
CODE_SERVER_VERSION=4.132.0
VSCODE_WORKSPACE=

COMFYUI_VERSION=v0.29.2
COMFYUI_TORCH_VERSION=2.11.0
COMFYUI_TORCHVISION_VERSION=0.26.0
COMFYUI_TORCHAUDIO_VERSION=2.11.0
COMFYUI_PYTORCH_INDEX_URL=https://download.pytorch.org/whl/cu130
COMFYUI_BIND_ADDRESS=
COMFYUI_PORT=9034
COMFYUI_MODELS=
COMFYUI_INPUT=
COMFYUI_OUTPUT=
COMFYUI_USER=
COMFYUI_CUSTOM_NODES=
# Optional ComfyUI command-line switches, e.g. --reserve-vram 1.0
COMFYUI_EXTRA_ARGS=
COMFYUI_HF_TOKEN=

DROPBOX_FOLDER=
CALIBRE_LIBRARY=
CALIBRE_SOURCE=
WEBDAV_ROOT=
LASER_CUTTING_ROOT=
MEGANZ_LOCAL=
MEGANZ_REMOTE=


CADDY_HASH=

TRANSMISSION_PASSWORD=

WEBDAV_USERNAME=
WEBDAV_PASSWORD=

OPENHANDS_API_KEY=
OPENHANDS_SECRET_KEY=

LLAMA_CPP_TAG=server-cuda13
LLAMA_CPP_MODELS=
LLAMA_CPP_BIND_ADDRESS=
LLAMA_CPP_PORT=11436
# LLAMA_CPP_CONTEXT_LENGTH=131072
LLAMA_CPP_PARALLEL=1
LLAMA_CPP_FIT_TARGET=1024

DEEPSEEK_VERSION=0.1.1-rc.2
DEEPSEEK_HOME=
DEEPSEEK_WORKSPACE=
DEEPSEEK_BIND_ADDRESS=127.0.0.1
DEEPSEEK_PORT=9035
